REGISTRY_HTTP_ADDR=0.0.0.0:5000
REGISTRY_HTTP_RELATIVEURLS=true
REGISTRY_HTTP_SECRET=${REGISTRY_HTTP_SECRET:?Set REGISTRY_HTTP_SECRET}
REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY=/var/lib/registry
REGISTRY_STORAGE_DELETE_ENABLED=false
REGISTRY_AUTH=htpasswd
REGISTRY_AUTH_HTPASSWD_REALM=NoCTF Registry
REGISTRY_AUTH_HTPASSWD_PATH=/auth/htpasswd
REGISTRY_HTTP_DEBUG_PROMETHEUS_ENABLED=false
OTEL_TRACES_EXPORTER=none
OTEL_METRICS_EXPORTER=none
OTEL_SDK_DISABLED=true
