NOCTF_PLATFORM_URL=https://ctf.example.com
NOCTF_QQBOT_AGENT_ID=00000000-0000-0000-0000-000000000000
NOCTF_QQBOT_PRIVATE_KEY_PATH=/run/secrets/noctf_qqbot_agent.pem
NOCTF_QQBOT_GROUP_ALLOWLIST=1095173403
NOCTF_QQBOT_JOURNAL_PATH=/data/noctf_qqbot.sqlite3
NOCTF_QQBOT_REQUEST_TIMEOUT_SECONDS=35
